body {
	margin-top: 10px;
}

.angular-google-map-container {
	height: 520px;
}

.login-separator {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.login-heading {
	margin-bottom: 1em;
}

.abilities-panel .panel-body {
	padding-top: .5em;
	padding-bottom: .5em;
}

.adult-checkbox {
	margin-top: 1em;
}
