<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1 class="text-center login-heading">{{ 'Welcome to come2help!' | translate }}</h1>
			<div ng-show="ctrl.errors.badData" id="data-error" class="alert alert-danger" role="alert">{{ 'Please correct the highlighted fields.' | translate }}</div>
			<div ng-show="ctrl.errors.message" id="error" class="alert alert-danger" role="alert"> {{ 'A fatal error occured' | translate}}:
				<br/>{{ ctrl.errors.message }}</div>
			<div class="panel-body">
				<div ng-hide="ctrl.isSignup()">
					<div class="row">
						<div class="col-md-5 col-md-offset-1">
							<button class="btn btn-block btn-social btn-facebook btn-lg" ng-click="ctrl.authenticate('facebook')">
								<span class="fa fa-facebook"></span> Facebook
							</button>
						</div>
						<div class="col-md-5">
							<button class="btn btn-block btn-social btn-google btn-lg" ng-click="ctrl.authenticate('google')">
								<span class="fa fa-google"></span> Google
							</button>
						</div>
					</div>
					<p class="text-center text-muted login-separator">
						{{ 'or' | translate }}
					</p>
				</div>

				<form method="post" ng-submit="ctrl.signup()" name="loginForm">
					<div ng-class="[ 'form-group', { 'has-error': ctrl.errors.email}]">
						<label for="email" class="sr-only">{{ 'E-Mail-Address' | translate }}</label>
						<input class="form-control input-lg" type="text" name="email" ng-model="ctrl.user.email" id="email" placeholder="{{ 'E-Mail-Address' | translate }}" required autofocus>
					</div>


					<div ng-class="[ 'form-group', 'row', { 'has-error': ctrl.errors.surname}, { 'has-error': ctrl.errors.givenName}]">
						<label for="surname" class="sr-only">{{ 'Name' | translate }}</label>
						<div class="col-sm-6">
							<input class="form-control input-lg" ng-model="ctrl.user.givenName" id="givenName" placeholder="{{ 'Givenname' | translate }}" value="" type="text" required>
						</div>
						<div class="col-sm-6">
							<input class="form-control input-lg" ng-model="ctrl.user.surname" name="surname" id="surname" placeholder="{{ 'Surname' | translate }}" value="" type="text" required>
						</div>
					</div>
					<div ng-class="[ 'form-group', { 'has-error': ctrl.errors.zipCode}]">
						<label for="zipCode" class="sr-only">{{ 'Zip Code' | translate }}</label>
						<input class="form-control" ng-model="ctrl.user.zipCode" name="city" id="zipCode" placeholder="{{ 'Zip Code' | translate }}" value="" type="text" required>
					</div>
					<div ng-class="[ 'form-group', { 'has-error': ctrl.errors.phone}]">
						<label for="phone" class="sr-only">{{ 'Phone' | translate }}</label>
						<input class="form-control" ng-model="ctrl.user.phone" name="phone" id="phone" placeholder="{{ 'Phone' | translate }}" value="" type="text">
					</div>
					<div ng-class="[ 'form-group', { 'has-error': ctrl.errors.abilities}, 'panel', 'panel-default', 'abilities-panel']">
						<div class="panel-heading">{{ 'Abilities' | translate }}</div>
						<div class="panel-body">
							<div class="checkbox" ng-repeat="ability in ctrl.abilities">
								<label>
									<input type="checkbox" name="inputAbilities[]" ng-model="ctrl.user.abilities[ability.id]" value="{{ability.id}}"> {{ability.name}}
								</label>
							</div>
						</div>
					</div>
					<div ng-class="[ 'form-group', { 'has-error': ctrl.errors.adult}]">
						<div class="checkbox adult-checkbox">
							<label>
								<input type="checkbox" ng-model="ctrl.user.adult" name="adult" id="adult" required> {{ 'I’m an adult' | translate }}
							</label>
						</div>
					</div>

					<button type="submit" class="btn btn-lg btn-block btn-primary">{{ 'Sign up' | translate}}</button>
				</form>
			</div>
		</div>
	</div>
</div>