# set line ending of .js/.scss files to lf so git wont change it to crlf on windows
# that is important or else lint will output an error for every single line
*.js    text eol=lf
*.scss  text eol=lf
